body{
    background-color: #F3EAE3;
}

#card {
    background-color: white;
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    border-radius: 2%;
}

#parfum {
    width: 50%;
    object-fit: cover;
    height: 100%;
    border-radius: 2% 0% 0% 2%;
}